@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'RobotRegular';
    src: url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'RobotBold';
    src: url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotMedium';
    src: url('./fonts/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'RobotRegular';
    font-size: 14px;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1450px
    }
}

